global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node_exporter"

    ec2_sd_configs:
      - region: us-east-1
        port: 9100

    relabel_configs:
      - source_labels: [__meta_ec2_tag_role]
        regex: worker
        action: keep

      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: $1:9100
